html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
/*--------------------*/
html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Open Sans Hebrew Condensed";
  src: url("./assets/fonts/OpenSansHebrewCondensed-Bold.ttf") format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-BoldItalic.ttf")
    format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-ExtraBold.ttf")
    format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-ExtraBoldItalic.ttf")
    format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-Italic.ttf")
    format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-Light.ttf")
    format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-LightItalic.ttf")
    format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-Regular.ttf")
    format("truetype");
}

/*---------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background: linear-gradient(180deg, #002a80 0%, #6671c9 23.4%, #0f3381 30.9%);
  display: flex;
  flex-direction: column;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1;
}

.container {
  box-sizing: border-box;
  margin: 0px auto;
}

.home_container {
  width: 1152px;
  align-items: center;
  flex-direction: column;
}

.homeMain {
  flex: 1;
  display: flex;
}

.header_container {
  display: flex;
  padding: 52.5px 120px;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  display: flex;
  align-items: center;
  font-family: Rubik;
  font-size: 40px;
  font-weight: 500;
  line-height: 47.4px;
  text-align: center;
  color: #ffffff;
}

.header_logo2 {
  background: linear-gradient(102.87deg, #ff42a8 41.29%, #40b8fb 96.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_groupNav {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  color: #82b6d3;
  display: flex;
  gap: 48px;
}

.group2_lang {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
}

.header_group2 {
  display: flex;
  align-items: center;
}

.group2__registration_in {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  text-align: left;
  color: #82b6d3;
  padding: 16px 24px;
  background: none;
}

.group2__registration_up {
  padding: 16px 24px;
  border-radius: 150px;
  border: 1px solid #248dff;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  background: linear-gradient(117.47deg, #ff038b -26.66%, #326cff 137.6%);
  min-width: 116px;
  min-height: 55px;
}

.decorations {
  position: absolute;
  width: 100vw;
}

.sparkles > * {
  position: absolute;
}

.sparkles_el2 {
  transform: rotate(180deg);
  left: 18vw;
  top: -4vw;
}

.sparkles_el3 {
  transform: rotate(180deg);
  right: 17vw;
  top: -3vw;
}

.sparkles_el4 {
  transform: scaleX(-1);
  top: 15vw;
  right: 0;
}

.sparkles_el1 {
  top: 9.2vw;
}

.sparkles_el {
  width: 20vw;
}

.coins > * {
  position: absolute;
}

.coins_el1 {
  transform: rotate(-90deg);
  top: 47vw;
  left: 15vw;
}

.coins_el2 {
  right: 13vw;
  top: 10vw;
}

.bck {
  z-index: -10;
  position: absolute;
  width: 100vw;
  top: 20vw;
}

.coins_el {
  width: 3.38vw;
}

.home_h1 {
  font-family: "Open Sans Hebrew Condensed";
  font-size: 68px;
  font-weight: 700;
  line-height: 92.6px;
  color: #ffffff;
}

.home__h1_container {
  margin: 38.5px 0 83.75px 0;
}

.footer_container {
  display: flex;
  margin-top: 48px;
  margin-bottom: 48px;
  width: 1152px;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.footer_span {
  margin: 0px auto;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #82b6d3;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  max-width: 196px;
}

.footer__logo_socialMedias {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer_line {
  height: 100px;
  width: 1px;
  background: #25458a;
}

.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #82b6d3;
}

.footer_h5 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
}

.footer_section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer_elements {
  display: flex;
  gap: 32px;
}

.footer_elements > * {
  max-width: 86px;
}

.footer__usdtasia_nav_el_2 {
  max-width: 120px;
}

footer {
  background: linear-gradient(180deg, #0f3381 0%, #111c57 100%);
}

.askedQuestions_h3 {
  font-family: "Open Sans Hebrew Condensed";
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 32px;
}

.askedQuestions {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.askedQuestions_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 24px;
  background: #25458a;
}

.askedQuestions_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px 8px 24px;
}

.askedQuestions_name {
  display: flex;
  align-items: center;
  gap: 18px;
}

.askedQuestion__name_p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 52px;
  color: #ffffff;
}

.blue_footer {
  background: #1f3e83;
}

.askedQuestions_plus {
  border: 2px solid #90a7e2;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #90a7e2;
}
.quick__exchange_container {
  background: #bcd2ff26;
  border-radius: 32px;
  width: 100%;
  height: 800px;
  backdrop-filter: blur(5px);
  border: 3px solid #77a7ff;
  z-index: -11;
}

.quick__exchange_border {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  border: 11px solid #4377e040;
  padding: 40px;
}
.quick__currencyChoioce_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.quick__curency_box {
  width: 464px;
  height: 72px;
  padding: 12px 15px 12px 15px;
  border-radius: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e377999;
}

.quick__curency_box_currency_name_container {
  display: flex;
  flex-direction: column;
  gap: 6.5px;
  min-width: 80px;
}

.quick__curency_box_currency_send {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #82b6d3;
}

.quick__curency_box_side1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.quick__curency_box_currency_name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: -0.04em;
}

.quick__curency_box_line {
  border: 1px solid #15255a;
  width: 29px;
  height: 0px;
  transform: rotate(90deg);
}

.quick__curency_box_side2 {
  display: flex;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.78px;
  text-align: left;
  width: 40%;
}

.quick__curency_box_currency_init {
  color: #82b6d3;
}

.quick__exchange_currenct_span {
  margin-top: 12px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}

.quick__exchange_currenct_span_1 {
  width: 464px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quick__exchange_trcAdress_container {
  width: 100%;
  border-radius: 150px;
  padding: 12px 32px;
  background: #1e377999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 28px 0 57px 0;
}

.trcAdress_wallet {
  display: flex;
  gap: 8px;
  align-items: center;
}

.trcAdress_imgs {
  display: flex;
  align-items: center;
  gap: 24px;
}
