html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
/*--------------------*/
html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Open Sans Hebrew Condensed";
  src: url("./assets/fonts/OpenSansHebrewCondensed-Bold.ttf") format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-BoldItalic.ttf")
    format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-ExtraBold.ttf")
    format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-ExtraBoldItalic.ttf")
    format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-Italic.ttf")
    format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-Light.ttf")
    format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-LightItalic.ttf")
    format("truetype");
  src: url("./assets/fonts/OpenSansHebrewCondensed-Regular.ttf")
    format("truetype");
}

/*---------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background: linear-gradient(180deg, #002a80 0%, #6671c9 23.4%, #0f3381 30.9%);
  display: flex;
  flex-direction: column;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1;
}

.container {
  box-sizing: border-box;
  margin: 0px auto;
}

.home_container {
  width: 1152px;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 52px;
}

@media (min-width: 2300px) {
  .home_container {
    width: 1446px;
  }
}

@media (min-width: 3000px) {
  .home_container {
    width: 1740px;
  }
}

@media (max-width: 1200px) {
  .home_container {
    width: 100%;
  }
}

.homeMain {
  flex: 1;
  display: flex;
  align-items: center;
}

.header_container {
  display: flex;
  padding: 52.5px 120px;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
}

// @media (max-width: 1400px) {
//   .header_container {
//     padding: 16px 8px;
//   }
// }

@media (max-width: 1400px) {
  .header_container {
    padding: 32px 32px;
  }
}

.header_logo {
  display: flex;
  align-items: center;
  font-family: Rubik;
  font-size: 40px;
  font-weight: 500;
  line-height: 47.4px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .header_logo {
    font-family: Rubik;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.18px;
  }
}

.header_logo2 {
  background: linear-gradient(102.87deg, #ff42a8 41.29%, #40b8fb 96.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_groupNav {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  color: #82b6d3;
  display: flex;
  gap: 48px;
  padding: 0 40px 0 40px;
}

@media (max-width: 1400px) {
  .header_groupNav {
    display: none;
  }
}

.group2_registration {
  display: flex;
  flex-wrap: nowrap;
  text-wrap: nowrap;
}

.group2_lang {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
}

.header_group2 {
  display: flex;
  align-items: center;
}

@media (max-width: 1400px) {
  .header_group2 {
    display: none;
  }
}

@media (min-width: 1401px) {
  .header_burger {
    display: none;
  }
}

@media (min-width: 1401px) {
  .header_profile {
    display: none;
  }
}

.group2__registration_in {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  text-align: left;
  color: #82b6d3;
  padding: 16px 24px;
  background: none;
}

.group2__registration_up {
  padding: 16px 24px;
  border-radius: 150px;
  border: 1px solid #248dff;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  background: linear-gradient(117.47deg, #ff038b -26.66%, #326cff 137.6%);
  min-width: 116px;
  min-height: 55px;
}

.decorations {
  position: absolute;
  width: 100vw;
}

.sparkles > * {
  position: absolute;
}

.sparkles_el2 {
  transform: rotate(180deg);
  left: 18vw;
  top: -4vw;
}

.sparkles_el3 {
  transform: rotate(180deg);
  right: 17vw;
  top: -3vw;
}

.sparkles_el4 {
  transform: scaleX(-1);
  top: 15vw;
  right: 0;
}

.sparkles_el1 {
  top: 9.2vw;
}

.sparkles_el {
  width: 20vw;
}

.coins > * {
  position: absolute;
}

.coins_el1 {
  transform: rotate(-90deg);
  top: 47vw;
  left: 15vw;
}

.coins_el2 {
  right: 13vw;
  top: 10vw;
}

.bck {
  z-index: -10;
  position: absolute;
  width: 100vw;
  top: 17vw;
}

@media (max-width: 1500px) {
  .bck {
    top: 30vw;
  }
}

@media (max-width: 1200px) {
  .bck {
    top: 50vw;
  }
}

@media (min-width: 2000px) {
  .bck {
    top: 10vw;
  }
}

@media (min-width: 2300px) {
  .bck {
    top: 4vw;
  }
}

@media (min-width: 2600px) {
  .bck {
    top: 0;
  }
}

@media (min-width: 2900px) {
  .bck {
    top: -6vw;
  }
}

@media (min-width: 3400px) {
  .bck {
    top: -10vw;
  }
}

@media (min-width: 3900px) {
  .bck {
    top: -12vw;
  }
}

@media (max-width: 1300px) {
  .bck {
    top: 20vw;
  }
}

@media (max-width: 1200px) {
  .bck {
    top: 30vw;
  }
}

@media (max-width: 1100px) {
  .bck {
    top: 40vw;
  }
}

@media (max-width: 1000px) {
  .bck {
    top: 50vw;
  }
}

@media (max-width: 900px) {
  .bck {
    top: 55vw;
  }
}

@media (max-width: 800px) {
  .bck {
    top: 60vw;
  }
}

@media (max-width: 700px) {
  .bck {
    top: 70vw;
  }
}

@media (max-width: 650px) {
  .bck {
    top: 80vw;
  }
}

@media (max-width: 600px) {
  .bck {
    top: 100vw;
  }
}

@media (max-width: 515px) {
  .bck {
    top: 110vw;
  }
}

@media (max-width: 490px) {
  .bck {
    top: 120vw;
  }
}

@media (max-width: 480px) {
  .bck {
    top: 140vw;
  }
}

@media (max-width: 430px) {
  .bck {
    top: 160vw;
  }
}

@media (max-width: 400px) {
  .bck {
    top: 180vw;
  }
}

@media (max-width: 370px) {
  .bck {
    top: 200vw;
  }
}
@media (max-width: 340px) {
  .bck {
    top: 220vw;
  }
}

@media (max-width: 320px) {
  .bck {
    top: 240vw;
  }
}

@media (max-width: 300px) {
  .bck {
    top: 260vw;
  }
}

@media (max-width: 280px) {
  .bck {
    top: 280vw;
  }
}

.coins_el {
  width: 3.38vw;
}

.home_h1 {
  font-family: "Open Sans Hebrew Condensed";
  font-size: 68px;
  font-weight: 700;
  line-height: 92.6px;
  color: #ffffff;
}

.home__h1_container {
  margin: 38.5px 0 83.75px 0;
}

.footer_container {
  display: flex;
  margin-top: 48px;
  margin-bottom: 48px;
  width: 1152px;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 2300px) {
  .footer_container {
    width: 1446px;
  }
}

@media (min-width: 3000px) {
  .footer_container {
    width: 1740px;
  }
}

@media (max-width: 1200px) {
  .footer_container {
    width: 100%;
  }
}

.footer_span {
  margin: 0px auto;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #82b6d3;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  max-width: 196px;
}

.footer__logo_socialMedias {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer_line {
  height: 100px;
  width: 1px;
  background: #25458a;
}

.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #82b6d3;
}

.footer_h5 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
}

.footer_section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer_elements {
  display: flex;
  gap: 32px;
}

.footer_elements > * {
  max-width: 86px;
}

.footer__usdtasia_nav_el_2 {
  max-width: 120px;
}

footer {
  background: linear-gradient(180deg, #0f3381 0%, #111c57 100%);
}

.askedQuestions_h3 {
  font-family: "Open Sans Hebrew Condensed";
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 32px;
}

.askedQuestions {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.askedQuestions_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 24px;
  background: #25458a;
}

.askedQuestions_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px 8px 24px;
}

.askedQuestions_name {
  display: flex;
  align-items: center;
  gap: 18px;
}

.askedQuestion__name_p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.blue_footer {
  background: #1f3e83;
}

.askedQuestions_plus {
  border: 2px solid #90a7e2;
  min-width: 20px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #90a7e2;
  margin-left: 8px;
}
.quick__exchange_container {
  background: #bcd2ff26;
  border-radius: 32px;
  width: 100%;
  height: 800px;
  backdrop-filter: blur(5px);
  border: 3px solid #77a7ff;
  z-index: -11;
  position: absolute;
}

.quick__exchange_border {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  border: 11px solid #4377e040;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.quick__currencyChoioce_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.quick__curency_box {
  width: 464px;
  height: 72px;
  padding: 12px 15px 12px 15px;
  border-radius: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e377999;
}

.quick__curency_box_currency_name_container {
  display: flex;
  flex-direction: column;
  gap: 6.5px;
  min-width: 80px;
}

.quick__curency_box_currency_send {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #82b6d3;
}

.quick__curency_box_side1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

.quick__curency_box_currency_name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: -0.04em;
}

.quick__curency_box_line {
  border: 1px solid #15255a;
  width: 29px;
  height: 0px;
  transform: rotate(90deg);
}

.quick__curency_box_side2 {
  display: flex;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.78px;
  text-align: left;
  width: 45%;
}

.quick__curency_box_currency_init {
  color: #82b6d3;
}

.quick__exchange_currenct_span {
  margin-top: 12px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}

.quick__exchange_currenct_span_1 {
  width: 464px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quick__exchange_trcAdress_container {
  width: 100%;
  border-radius: 150px;
  padding: 12px 32px;
  background: #1e377999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 28px 0 57px 0;
}

.trcAdress_wallet {
  display: flex;
  gap: 8px;
  align-items: center;
  min-width: 70%;
}

.trcAdress_imgs {
  display: flex;
  align-items: center;
  gap: 24px;
}

.wallet_input {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  background: none;
  color: #82b6d3;
  width: 100%;
  outline: none;
}

.quick__exchange_done_rect {
  min-width: 34px;
  min-height: 34px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e3379;
}

.quick__exchange_span {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: #82b6d3;
}

.change_span_done_blue {
  color: #6bffed;
}

.quick__exchange_done {
  display: flex;
  align-items: center;
  gap: 24px;
}

.exchange_btn {
  margin: 0px auto;
}

.quick__exchange_btn {
  margin-top: 28px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  color: #fff;
  width: 304px;
  height: 72px;
  border-radius: 150px;
  padding: 16px 24px;
  border: 1px solid #248dff;
  background: rgb(255, 209, 45);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 209, 45, 1) 0%,
    rgba(255, 3, 139, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 209, 45, 1) 0%,
    rgba(255, 3, 139, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 209, 45, 1) 0%,
    rgba(255, 3, 139, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd12d",endColorstr="#ff038b",GradientType=1);
}
.rates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 44px;
}

.currency__el_img {
  width: 24px;
  height: 24px;
}

.rates__curr_el {
  width: 110px;
  height: 48px;
  border-radius: 150px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
}

.rates_currency_container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.rates_currency_container_mob {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 8px 0 8px;
  justify-content: space-between;
  max-width: 550px;
}

@media (max-width: 1200px) {
  .rates_span {
    margin-bottom: 32px;
  }
}

.rates_span {
  font-family: "Open Sans Hebrew Condensed";
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
}

.rates__current_curr {
  border-radius: 150px;
  border: 1px solid #248dff;
  background: linear-gradient(117.47deg, #ff038b -26.66%, #326cff 137.6%);
}

.exchange_container {
  width: 100%;
}

.exchange_container_padding {
  display: flex;
  flex-direction: column;
  padding: 51px;
}
.countryToUsdt {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 48px;
}

.countryToUsdt_block {
  border: 1px solid #ffffff0d;
  width: 270px;
  height: 180px;
  padding: 24px;
  gap: 8px;
  border-radius: 24px;
  backdrop-filter: blur(5px);
  background: #bcd2ff26;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  justify-content: space-between;
}

.countryToUsdt__block_side1_left_abr {
  font-size: 18px;
}

.countryToUsdt__block_side1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.countryToUsdt__block_side1_left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.countryToUsdt__block_line {
  background: #e6e6e60d;
  height: 1px;
  width: 100%;
}

.countryToUsdt__block_side2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.countryToUsdt__block_side2_txt1 {
  color: #40b8fb;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
}

.since_h2 {
  font-family: "Open Sans Hebrew Condensed";
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.since {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.since_content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.since_mousePic {
  background: linear-gradient(
    180deg,
    #041c56 50.91%,
    rgba(4, 28, 86, 0) 79.29%
  );
  border: 1px solid #ffffff0d;
  width: 368px;
  height: 419px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 3000px) {
  .since_mousePic {
    width: 500px;
    height: 570px;
  }
}

.since__mouse_h5 {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
}

.since__mouse_p {
  font-family: Roboto;
  font-size: 15.5px;
  font-weight: 400;
  color: #82b6d3;
}

.since__mouse_txt {
  padding: 0 24px 40px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.recent_container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 100%;
  align-items: center;
}

.recent_h3 {
  font-family: "Open Sans Hebrew Condensed";
  font-size: 32px;
  font-weight: 700;
}

.recent_block {
  width: 100%;
  border-radius: 24px;
  background: #25458a;
}

.recent__block_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px 8px 24px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #82b6d3;
}

.recent__block_line_side_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.recent__block_line_side_container_left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.recent__block_line_side_container_right_crypto {
  width: 40px;
}

.recent__block_line_side_container_right_value {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.recent__block_line_arr {
  margin-left: 32px;
  margin-right: 32px;
}

@media (max-width: 1400px) {
  .home_h1 {
    display: none;
  }
}

.home_h1_mobile {
  font-family: "Open Sans Hebrew Condensed";
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: center;
}

@media (max-width: 1400px) {
  .home__h1_container {
    margin: 0 0 38px 0;
  }
}

@media (max-width: 1200px) {
  .quick__exchange_currenct_span_1 {
    display: none;
  }
}

@media (max-width: 1200px) {
  .quick__exchange_currenct_span_1_2 {
    display: none;
  }
}

@media (max-width: 1200px) {
  .quick__exchange_currenct_span_1_1_isInMobile {
    display: block;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .quick__exchange_currenct_span {
    padding: 0 15px 0 15px;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .quick__exchange_trcAdress_container {
    padding: 24px 18px 24px 18px;
    margin: 28px 0 28px 0;
  }
}

@media (max-width: 700px) {
  .quick__exchange_done {
    align-items: start;
  }
}
@media (max-width: 700px) {
  .exchange_container_padding {
    padding: 36px 12px 32px 12px;
  }
}

@media (max-width: 700px) {
  .exchange_btn {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .quick__exchange_btn {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .rates_span {
    font-family: "Open Sans Hebrew Condensed";
    font-size: 24px;
    font-weight: 700;
  }
}
@media (max-width: 1200px) {
  .rates_currency_container {
    display: none;
  }
}

@media (max-width: 1200px) {
  .rates {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 1200px) {
  .countryToUsdt {
    flex-wrap: nowrap;
    margin-bottom: 24px;
    white-space: nowrap;
    width: 100%;
    padding: 0 16px 0 16px;
    overflow-x: auto;
  }
}

// @media (max-width: 700px) {
//   .homeMain {
//     align-items: start;
//   }
// }

@media (max-width: 700px) {
  .since_h2 {
    font-family: "Open Sans Hebrew Condensed";
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
  }
}
@media (max-width: 700px) {
  .since {
    gap: 16px;
  }
}

@media (max-width: 1200px) {
  .since_content {
    gap: 30px;
    padding: 0 16px 0 16px;
    overflow-x: auto;
  }
}

@media (max-width: 700px) {
  .since_content {
    padding: 0 8px 0 8px;
    flex-direction: column;
    gap: 8px;
  }
}
@media (max-width: 700px) {
  .since_mousePic {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 700px) {
  .since_mouse {
    width: 100%;
  }
}

@media (min-width: 3000px) {
  .since_mouse {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .since__mouse_txt {
    padding-bottom: 27.5px;
  }
}
@media (max-width: 700px) {
  .wallet_input {
    font-size: 15px;
    font-weight: 400;
  }
}
@media (max-width: 700px) {
  .wallet_img {
    display: none;
  }
}
@media (max-width: 700px) {
  .recent_container {
    gap: 16px;
    margin-top: 16px;
  }
}
@media (max-width: 700px) {
  .recent_h3 {
    font-family: "Open Sans Hebrew Condensed";
    font-size: 24px;
    font-weight: 700;
  }
}
@media (max-width: 700px) {
  .askedQuestions_h3 {
    font-family: "Open Sans Hebrew Condensed";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    max-width: 80%;
  }
}
@media (max-width: 700px) {
  .home__h1_container {
    width: 70%;
  }
}

@media (max-width: 300px) {
  .home__h1_container {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .quick__currencyChoioce_block {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .quick__curency_box {
    width: 100%;
    padding: 8px 15px 8px 15px;
  }
}

@media (max-width: 1200px) {
  .quick__curency_box_currency_name_container {
    display: none;
  }
}

@media (max-width: 1200px) {
  .quick__curency_box_currency_img {
    width: 32px;
    margin-right: 5px;
  }
}

@media (max-width: 1200px) {
  .quick__currencyChoioce_block {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 1200px) {
  .quick__curency_box_line {
    display: none;
  }
}

@media (max-width: 1200px) {
  .quick__curency_box_side1 {
    width: auto;
    justify-content: start;
    border-right: 1px solid #15255a;
    padding-right: 4px;
  }
}
@media (max-width: 1200px) {
  .quick__curency_box_side2 {
    width: auto;
  }
}
@media (max-width: 1200px) {
  .quick__currencyChoioce_autorenew {
    display: none;
  }
}

.quick__currencyChoioce_autorenewMobile_img {
  margin: -30px 0 -30px 0;
  z-index: 10;
  width: 40px;
}

@media (max-width: 900px) {
  .recent__block_line_side_container_left_arrUpDown {
    display: none;
  }
}
@media (max-width: 900px) {
  .recent__block_line_arr {
    margin-left: 3px;
    margin-right: 3px;
  }
}
@media (max-width: 700px) {
  .recent__block_line_side_container_left_time {
    display: none;
  }
}

@media (max-width: 700px) {
  .recent__block_line_side_container_right_success {
    display: none;
  }
}
@media (max-width: 700px) {
  .recent__block_line_side_container_right_value {
    font-size: 13px;
    font-weight: 500;
  }
}
@media (max-width: 700px) {
  .footer_container {
    margin-top: 0;
    margin-bottom: 22px;
  }
}

.recent__block_line_side_container_left_mob_text {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4px;
}

.recent__block_line_side_container_right_value_under_mob {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}

.recent__block_line_side_container_left_mob_text_right {
  align-items: start;
}

@media (max-width: 700px) {
  .recent__block_line_side_container_right_crypto {
    width: 34px;
  }
}

@media (max-width: 700px) {
  .recent__block_line_side_container_left {
    gap: 8px;
  }
}

@media (max-width: 700px) {
  .home_container {
    margin-bottom: 24px;
  }
}

@media (max-width: 700px) {
  .askedQuestions_block {
    padding: 16px 20px 16px 20px;
  }
}

@media (max-width: 700px) {
  .askedQuestion__name_p {
    font-size: 14px;
    font-weight: 400;
  }
}

@media (max-width: 700px) {
  .askedQuestions {
    margin-bottom: 24px;
  }
}

@media (max-width: 1200px) {
  .footer_span {
    display: none;
  }
}

@media (max-width: 1200px) {
  .footer_line {
    display: none;
  }
}

@media (max-width: 1200px) {
  .footer__top_txt {
    display: none;
  }
}

@media (max-width: 1200px) {
  .footer_top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__top_txt_mob {
  width: 100%;
  padding: 0 30px 0 30px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  gap: 50px;
}

.footer__usdtasia_nav_mob {
  color: #82b6d3;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer__h5_mob {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 17px;
  color: #fff;
}

@media (min-width: 1201px) {
  .rates_currency_container_mob {
    display: none;
  }
}

@media (min-width: 1401px) {
  .home_h1_mobile {
    display: none;
  }
}

@media (min-width: 701px) {
  .recent__block_line_side_container_right_value_under_mob {
    display: none;
  }
}

@media (min-width: 1201px) {
  .footer__top_txt_mob {
    display: none;
  }
}

@media (min-width: 1201px) {
  .footer_top {
    line-height: 24px;
  }
}

@media (min-width: 1201px) {
  .quick__currencyChoioce_autorenewMobile_img {
    display: none;
  }
}

@media (max-width: 1200px) {
  .coins {
    display: none;
  }
}

@media (max-width: 1200px) {
  .sparkles_el {
    top: 5vw;
  }
}

@media (max-width: 700px) {
  .sparkles_el {
    width: 30vw;
    top: 8vw;
  }
}

@media (max-width: 500px) {
  .sparkles_el {
    width: 50vw;
    top: 10vw;
  }
}

@media (max-width: 400px) {
  .sparkles_el {
    width: 80vw;
    top: 15vw;
  }
}

@media (max-width: 500px) {
  .sparkles_el2 {
    display: none;
  }
  .sparkles_el3 {
    display: none;
  }
}

@media (max-width: 1200px) {
  .coins {
    display: none;
  }
}
@media (max-width: 1200px) {
  .coins {
    display: none;
  }
}
@media (max-width: 1200px) {
  .coins {
    display: none;
  }
}
@media (max-width: 1200px) {
  .coins {
    display: none;
  }
}

@media (max-width: 900px) {
  .quick__exchange_container {
    height: 650px;
  }
}

@media (max-width: 700px) {
  .quick__exchange_container {
    height: 600px;
  }
}
